# Ignore git + editor stuff
.git
.gitignore
.gitattributes
.editorconfig
.Dockerfile.swp

# Ignore docker-compose and k8s configs (not needed in Railway build)
docker-compose*.yml
k8s.yaml
chart/

# Ignore docs and markdown files except README
docs/
*.md
!README.md
*.yaml

# Python build cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Local database and models (too large for Railway)
db/
# models/

# Tests (don’t need them in production build)
tests/

# Env and config overrides
.env
*.env
